<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CARS</title>
</head>
<body>

<table border="3">

    <h3 th:text="${locale}">

    </h3>

    <tr>
        <th>Id</th>
        <th>Brend</th>
        <th>Series</th>
    </tr>

    <tr th:each="car: ${carList}">

        <td th:utext="${car.id}">Id</td>
        <td th:utext="${car.brend}">Brend</td>
        <td th:utext="${car.series}">Series</td>

    </tr>

</table>

</body>
</html>